/a_Idle.anim
/a_Idle.anim.meta
/a_Idle_Battle.anim
/a_Idle_Battle.anim.meta
/a_Idle_Happy.anim
/a_Idle_Happy.anim.meta
/a_Idle_Relaxed.anim
/a_Idle_Relaxed.anim.meta
/a_Idle_Scared.anim
/a_Idle_Scared.anim.meta
/a_Running.anim
/a_Running.anim.meta
/a_Walking.anim
/a_Walking.anim.meta
