/AnimatorController_Jamo.controller
/AnimatorController_Jamo.controller.meta
/Default.meta
/Falling To Landing.anim
/Falling To Landing.anim.meta
/Fist Pump.anim
/Fist Pump.anim.meta
/Jump.anim
/Jump.anim.meta
/Standing.anim
/Standing.anim.meta
/Victory Idle.anim
/Victory Idle.anim.meta
