/LightingData.asset
/LightingData.asset.meta
/Lightmap-0_comp_dir.png
/Lightmap-0_comp_dir.png.meta
/Lightmap-0_comp_light.exr
/Lightmap-0_comp_light.exr.meta
/Lightmap-0_comp_shadowmask.png
/Lightmap-0_comp_shadowmask.png.meta
/Lightmap-1_comp_dir.png
/Lightmap-1_comp_dir.png.meta
/Lightmap-1_comp_light.exr
/Lightmap-1_comp_light.exr.meta
/Lightmap-1_comp_shadowmask.png
/Lightmap-1_comp_shadowmask.png.meta
/ReflectionProbe-0.exr
/ReflectionProbe-0.exr.meta
/ReflectionProbe-1.exr
/ReflectionProbe-1.exr.meta
