/Alternates.meta
/jammo_eyes.png
/jammo_eyes.png.meta
/mixbot1.json
/mixbot1.json.meta
/mixbot_low_mixamo_edit1_AO.png
/mixbot_low_mixamo_edit1_AO.png.meta
/mixbot_low_mixamo_edit1_AlbedoTransparency.png
/mixbot_low_mixamo_edit1_AlbedoTransparency.png.meta
/mixbot_low_mixamo_edit1_MetallicSmoothness.png
/mixbot_low_mixamo_edit1_MetallicSmoothness.png.meta
/mixbot_low_mixamo_edit1_Normal.png
/mixbot_low_mixamo_edit1_Normal.png.meta
